version: "3.3"

services:
  kibana-auth-proxy:
    build: .
    env_file: ./src/.env
    expose:
      - 3000
    ports:
      - "3000:3000"
    depends_on:
      - redis
    volumes:
      - "./config.yml:/app/config.yml"

  redis:
    image: redis:alpine
    container_name: redis
    volumes:
      - ./redis:/data
    expose:
      - 6379
    restart: unless-stopped
